:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* BEGIN NAV */

.navbar {
  background-color: #333;
  padding: 1.5rem;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffc600;
}

.navbar h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-family: "baroque-text-jf";
} 

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc600;
  color: #000000;
  
}

.navlinks a {
  text-decoration: none;
  color: #000; /* Adjust the color as needed */
  margin: 0 10px; /* Adjust the spacing between links */
}

.navlinks .separator {
  margin: 0 5px; /* Adjust the spacing between links and icon */
}

.navlinks .separator::after {
  content: "|"; /* Use any icon you prefer, for example: '\2022' for a bullet point */
}



@media screen and (max-width: 768px) {
  .navbar {
    background-color: #333;
    padding: .5rem .5rem 4.5rem .5rem;
    display: block;

  }  

 .navbar h1 {
    font-size: 2em;
    line-height: 1.1;
    font-family: "baroque-text-jf";
  }  

}
/* END NAV */

.main-content {
  flex-grow: 1; /* Takes up remaining vertical space */
  background-color: #f8f8f8;
  padding: 1rem;
  min-height: 100vh;
}

a {
  font-weight: 600;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #2d004d;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

/* BEGIN BUTTON STYLES */


button {
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2d004d;
  background-color: #ffc600;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.signup {
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffc600;
  cursor: pointer;
  transition: border-color 0.25s;
}

.signup:hover {
  border-color: #2d004d;
  background-color: #ffc600;
}

.signup:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* END BUTTON STYLES */

/* BEGIN FORM FIELDS */

input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 14px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;

}


@media screen and (max-width: 768px) {
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 12px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;

}

}
/* END FORM FIELDS */

/* BEGIN HOME PAGE IMAGE DISPLAY */
.image-container {
  display: flex;
}

.image-container img {
  width: 25%;
  cursor: pointer;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  width: 25%;
  text-align: center;
  padding: 10px;
}

/* END HOME PAGE IMAGE DISPLAY */